<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.douyuehan.doubao.mapper.PoemMapper">
    <select id="getOnePoem" parameterType="String" resultType="com.douyuehan.doubao.model.entity.PoemBean">
        SELECT * FROM poetry ORDER BY rand()   LIMIT 1
    </select>

    <select id="getByTitleAndAuthorSimple" parameterType="String" resultType="com.douyuehan.doubao.model.entity.PoemBean">
        SELECT id, title,  desty,author, content, tag FROM poetry WHERE title = #{title} AND author = #{author};
    </select>

    <select id="getByTitleAndAuthorDetail" parameterType="String" resultType="com.douyuehan.doubao.model.entity.PoemBean">
        SELECT * FROM poetry WHERE id = #{id} ;
    </select>

    <select id="getByContentDetail" parameterType="String" resultType="com.douyuehan.doubao.model.entity.PoemBean">
        SELECT * FROM poetry WHERE content like #{content} LIMIT 1;
    </select>

    <select id="getAllDynasty" parameterType="String" resultType="java.lang.String">
        SELECT DISTINCT desty FROM poetry;
    </select>

    <select id="getAllType" parameterType="String" resultType="java.lang.String">
        SELECT DISTINCT tag FROM poetry;
    </select>

    <select id="getBySearch" resultType="com.douyuehan.doubao.model.entity.PoemBean">
        SELECT id,title,desty,author, content, tag, fig FROM poetry WHERE title like #{key}
                                                                  OR author like #{key}
                                                                  OR content like #{key}
                                                                  OR tag like #{key}
            LIMIT #{page},#{size};
    </select>

    <select id="getByTag" resultType="com.douyuehan.doubao.model.entity.PoemBean">
        SELECT id,title, desty, author, content, tag FROM poetry
        WHERE (1!=1
        <foreach collection="dynastys" item="dynasty">
            OR desty like #{dynasty}
        </foreach>)
        AND (1!=1
        <foreach collection="tags" item="tag">
            OR tag like #{tag}
        </foreach>)
        LIMIT #{page},#{size};
    </select>
</mapper>
