<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.douyuehan.doubao.mapper.UserHistoryMapper">
    <select id="isHistoryContained" resultType="String">
        select id
        from user_history
        where user_name = #{userName} AND post_id = #{postID}
    </select>

    <insert id="insertHistory" parameterType="String">
        insert into user_history
        values ( '0',
                #{userName},
                #{postID}
               )
    </insert>
</mapper>